<form [formGroup]="cityForm" class="form">
  <div class="modal">
    <h1>{{textHeader}}</h1>
    <mat-form-field class="input" appearance="outline">
      <mat-label>City name</mat-label>
      <input formControlName="name" class="input" name="name" type="name" matInput
             placeholder="Dnepr">
    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
      <mat-label>Price</mat-label>
      <input formControlName="price" name="price" min="0" type="number" matInput placeholder="1">
      <mat-icon matPrefix>attach_money</mat-icon>
    </mat-form-field>
    <div class="button-group">
      <button mat-stroked-button class="success" (click)="data?changeCity():addCity()">{{textButton}}</button>
      <button mat-stroked-button class="close" (click)="onNoClick()">Close</button>
    </div>
  </div>
</form>
