.modal{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
  width: 100%;
}
.button-group{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
button{
  width: 100%;
}
.success{
  color:green;
  border-color: green;
  margin-right: 10px;
}
.close{
  color: red;
  border-color: red;
}
