<div >
  <h1 style="font-size: 36px; text-align: center; padding: 40px 0; width: 80%; margin: 0 auto" >Clockwise Clockware is engaged in the repair of grandfather clocks with home visits to customers.</h1>
  <div class="card-content">


  <div class="card">
    <div class="small"></div>
    <h1 style="text-align: center">Small watch repair</h1>
    <p class="card-text">The small watch is slow, fast, stopped, stopped winding or started beeping uncharacteristic crackling / tapping? The worker will quickly determine the cause of the problem and fix it.</p>
    <ul class="list">
      <li>Watch diagnostics and repair</li>
      <li>Repair, cleaning, lubrication, debugging of the mechanism</li>
      <li>Glass replacement</li>
      <li>Worker to handle in an hour</li>
    </ul>
  </div>

    <div class="card">
      <div class="small"></div>
      <h1 style="text-align: center">Small watch repair</h1>
      <p class="card-text">The small watch is slow, fast, stopped, stopped winding or started beeping uncharacteristic crackling / tapping? The worker will quickly determine the cause of the problem and fix it.</p>
      <ul class="list">
        <li>Watch diagnostics and repair</li>
        <li>Repair, cleaning, lubrication, debugging of the mechanism</li>
        <li>Glass replacement</li>
        <li>Worker to handle in an hour</li>
      </ul>
    </div>

    <div class="card">
      <div class="small"></div>
      <h1 style="text-align: center">Small watch repair</h1>
      <p class="card-text">The small watch is slow, fast, stopped, stopped winding or started beeping uncharacteristic crackling / tapping? The worker will quickly determine the cause of the problem and fix it.</p>
      <ul class="list">
        <li>Watch diagnostics and repair</li>
        <li>Repair, cleaning, lubrication, debugging of the mechanism</li>
        <li>Glass replacement</li>
        <li>Worker to handle in an hour</li>
      </ul>
    </div>
  </div>
  <div style="display: flex;justify-content: center">
  <button mat-stroked-button style=" width: 95%;margin: 15px auto">MAKE ORDER</button>
  </div>
</div>

